#browserApp .table-responsive {
    max-height: 65vh;
    overflow-y: scroll;
}

#browserApp .table-responsive thead th {
    position: sticky;
    top: 0;
}

#browserApp .detailsCard {
    min-height: 50vh;
    max-height: 65vh;
}

