#topNavbar {
    padding: 0.625rem 1rem 0rem 1rem !important;
    background: #f5f8fb;
    border-bottom: 1px solid rgba(46, 54, 80, 0.125);
    border-radius: 0;
}

main {
    min-height: 100vh;
}

main.content {
    padding-top: 70px !important;
    margin-left: 0;
}

main .main-content {
  flex: 1 0 auto;
}

main footer.footer {
  flex-shrink: unset;
}

.remove-asterisk .asteriskField {
    display: none;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.show-pointer:hover {
    cursor: pointer;
}

[unselectable="on"] {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

[v-cloak] {display: none}
