#topNavbar {
    padding: 0.625rem 1rem 0rem 1rem !important;
    background: #f5f8fb;
    border-bottom: 1px solid rgba(46, 54, 80, 0.125);
    border-radius: 0;
}

main {
    min-height: 100vh;
}

main.content {
    padding-top: 70px !important;
}

main .main-content {
  flex: 1 0 auto;
}

main footer.footer {
  flex-shrink: unset;
}

[v-cloak] {display: none}
